<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: mediumblue;">
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" href="/index">Início</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/categorias/lista">Categorias</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/contatos">Contatos</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" href="/logout">Sair</a>
        </li>
    </ul>
</nav>
<br>
