<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Controle de Contatos</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <%- include ('partials/navbar'); %>
        <div class="jumbotron" style="background-color:  rgb(245, 243, 234) ">
            <h1>Bem vindo ao sistema de controle de contatos!</h1>
            <p>Selecione uma opção de cadastro no menu acima...</p>
        </div>
    </div>
</body>
</html>